body {
      margin: 0px;
      max-width: 100%;
      overflow-x: hidden;
}

body a:hover{
       color: #24B0FF;
}

body a:click{
       color: black;
}

#allTop {
             background-image: url("../images/heroGlass.png");
             background-size: 1440px;
             background-repeat: no-repeat;
             background-position-x: center;
             margin-top: -50px;
}

.navigation {
             display: flex;
             justify-content: space-between;
             height: 100px;

}

.logo {
    width: 23%;
    height: 50px;
    padding: 1%;
    text-align: left;
    margin-top: 50px;
}

.titleH {
        margin-left: -55;
        margin-top: 5px;
}

.hero {
      margin: 90px 90px 0px 0px;
      height: 30%;
}


nav {
     display: flex;
     color: #767576;
     margin-top: 33px;
     margin-right: 15px;
     white-space: nowrap;
}

nav a {
    padding: 50px;
    font-size: 20px;
    font-family: Inter;
    color: #767576;
}

a{
  text-decoration: none;
}

.dropdown {
    padding: 50px;
    font-size: 20px;
    font-family: Inter;
    color: #767576;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  font-size: 17px;
  border-bottom: 1px solid;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.herolmg {
          display: flex;
          height: 400px;
          padding: 25px;   
          justify-content: space-around;     
}

.herolmg1 {
          display: flex;
          height: 400px;
          padding: 25px;   
          justify-content: space-around;
          margin-left: -70px; 
          margin-top: 3%;     
}

.herolmg2 {
          display: flex;
          height: 250px;
          padding: 25px;   
          justify-content: space-around;
          margin-top: 2%;    
}

.herolmg3 {
          display: flex;
          height: 400px;
          padding: 25px;   
          justify-content: space-around;      
}


#categoryGrid {
  margin: 1% 5%;
  display: grid;
  grid-template-rows: 450px 450px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "Illustration Infographics Logos"
  "Estates Estates Logos"
  ;
}

#Illustration {
  grid-area: Illustration;
  background-image: url("../images/Garden.svg");

}
#Infographics {
  grid-area: Infographics;
  background-image: url("../images/Infographics.png");
}

#Logos {
  grid-area: Logos;
  background-image: url("../images/Logos.png");
}

#Estates {
  grid-area: Estates;
  background-image: url("../images/Estates.png");
}

.categoryGridArea {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

h1 {
    font-size: 45px;
    font-family: Lato;
    margin-left: 60px;
    color: Black;
}

h3{
    margin-left: 60px;
    font-family: inter;
}

h4 {
    text-align: center;
    font-size: 25px;
    font-family: Lato;
}

p {
   font-size: 18px;
   font-family: inter;
   margin-top: 0px;
   justify-content: top;
   margin-left: 60px;
   color: #767576;
}

.titleH{
        margin-left: -10px;
        margin-top: 5px;
}

.title {
        background-color: #d8edfb;
        height: 60px;
}

.herolmg h3 {
             color: Black;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 50px 0px 70px -300px;
}

.herolmg1 h3 {
             color: #24B0FF;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 0px 0px 70px -330px;
}



.herolmg2 h3 {
             color: #24B0FF;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 0px 0px 70px 100px;
}

.herolmg3 h3 {
             color: #24B0FF;
             font-size: 40px;
             font-family: lato;
             text-align: center;
             margin: 20px 0px 70px -10px;
}

.projects{
          margin-top: 7%;
}

.projects h3{
             color: #24B0FF;
             font-size: 40px;
             font-family: lato;
             text-align: center;         
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #24B0FF;
  text-align: center;
  font-family: inter;
}

.paraH1 {
   font-size: 18px;
   font-family: inter;
   justify-content: top;
   margin-left: 25%;
}


.paraH {
   font-size: 18px;
   font-family: inter;
   justify-content: top;
   margin-left: 100px;
}

.para {
       text-align: center;
}

.imgD{
      margin-right: 5%;
}
.AR {
     width: 30%;
     height: 70%;
     margin-right: 5%;
     margin-top: 2%;
}

.Projects {
           margin-bottom: 9%;
}

#contact {
        background-color: #000000;
        color: white;
        display: flex;
        justify-content: center;
        height: 160px;
        width: 100%;
        position: relative; top: -22.6px;
}

#contact h5 {
              font-size: 20px;
             font-family: inter;
}

.EP {
     margin-top: 2.5%;
     margin-right: 2%;
}

.Con {
      display: flex;
      margin-bottom: 2%;
}

.Em {
     margin: 2% 0% 0% 6.5%;
}

.pImg {
     margin-left: -0.5%;
}

.num {
      margin: 3% 0% 0% 6%;
}

.Soc {
      display: flex;
      margin: 1.5% 0% 0% 0%;
}

.ii {
     margin-top: 6.1%;
     margin-left: 6.3%;
}


.LinkS {
        margin: 5%;
}

.copyright {
         background-color: #DEDFE0;
         height: 40px;
         width: 100%;
         text-align: center;
         margin: -2% 0% 0% 0%;
}

.copyright p{
             padding-top: 1%;
             color: #000000;
             font-size: 15px;
             font-family: inter;
             margin-left: 0px;
}
@media only screen and (max-width: 500px) {
            .herolmg {
                display: inline-table;
                margin-left: -55px;
                width: 100%;
            }
            h1{
               font-size: 30px;
            }
            .herolmg h3{
            font-size: 12px;    
            }
            #allTop h6{
            margin-left: 300px;
            margin-top: 2%;    
            }
            .buttonBg{
                width: 55%;
            }
            .heroPar {
                width: 520px;
            }
            nav{
                margin-top: 3%;
                margin-left: 0%;
                white-space: nowrap;
            }
            nav a{
                padding-left: 0px;
                font-size: 12px;
                padding: 50px 7px 7px 0px;
            }
            .dropdown{
                font-size: 12px;
                padding: 50px 7px 7px 0px;  
            }
            .dropdown-content{
                min-width: 100px;
            }
            .dropdown-content a{
                font-size: 11px;
            }

            #allTop {
                background-size: 1350px;
                width: 430px ;
            }
            .hero{
                width: 75%;
                margin-top: 3%;
                margin-left: 10%;
            }
            .herolmg1{
                display: inline-table;
            }
            .herolmg2{
                display: inline-table;
                margin-left: -17%;
            }
            .herolmg3{
                display: inline-table;
                margin-left: -20%;
            }
            .herolmg1 h3{
                margin-left: 19%;
            }
            .herolmg3 h3{
                margin-left: 19%;
            }
            .imgD{
                width: 75%;
                margin-left: 22%;
            }
            .AR{
                width: 75%;
                margin-left: 22%;
            }
            .projects{
                margin-left: 3%;
            }
            .projects h3{
                margin-left: -2%;
            }
            .heading{
              font-size: 12px;
              height: 30px;
              vertical-align: middle;
            }
            #contact {
                width: 430px;
                display: inline-table;
                position: relative;
                margin-bottom: -4.5%;
            }
            .copyright{
                width: 430px;
            }
            .Soc {
                  margin-left: 17%;
            }
            .Ep {
                  margin-left: 12%;
                  margin-top: -1%;
            }
            .copyright p{
                padding-top: 3%;
            }
}

@media (min-width: 500px) and (max-width: 1025px){
            #allTop{
                width: 1100px;
            }
}

@media (min-width: 1182px) and (max-width: 1500px) {
            #allTop{
                background-size: 1500px;
            }
}